* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  overflow: hidden;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  padding: 1rem;
  background: linear-gradient(45deg, rgb(200, 50, 50), white);
  border-radius: 15px;
}

.Container h1, .Container p {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: .5rem;

}

.Container button {
  margin-top: 1.5rem;
  padding: .5rem;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(50%);
}

.draggable {
  margin-bottom: .5rem;
}